.offers {
  flex-grow: 1;
}

.main-header {
  margin-bottom: 16px;
  font-size: 45px;
}

.offers-grid {
  margin-bottom: 24px;
}

.offers-grid > .offerItem:not(:last-child) {
  margin-bottom: 24px;
}

.offers-item-border {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
